fastapi
uvicorn[standard]
gunicorn
psycopg2-binary
sqlalchemy[asyncio]
asyncpg
SQLAlchemy
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
python-multipart
jieba
redis
resend
orjson
hiredis
uvloop
httptools
uuid6
aiofiles
# --- 核心测试框架 ---
pytest
pytest-asyncio
httpx
faker 